img.card-img-top {
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 185px;
    height: 170px;
    object-fit: contain;

}

.doctor-name {
    margin-top: 16px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.doctor-bio {
    margin: 0 auto;
    font-size: 17px;
    margin-top: 12px;
    text-align: center;

}

.doctor-specialization {
    text-align: center;
    margin-top: 12px;
}


img, svg {
    vertical-align: middle;
    font-size: 37px;
    color: white;
    border: 1px solid rgb(172, 172, 224);
    border-radius: 50%;
    padding: 5px 5px;
    text-align: center;
    margin-top: 20px;
   
}

.doctor-details-lk{
    background-color: rgb(172, 172, 224); 
}

@media all and (max-width: 772px) {
    .col-4 {
        flex: 0 0 auto;
        width: 48.333333%;
    }
}

@media all and (max-width: 500px) {
    .col-4 {
        flex: 0 0 auto;
        width: 50.333333%;
        margin: 0 auto;

    }

    .d-flex.p-8.row {
        width: 385px;
    }
}

